// Place all the styles related to the lures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
    display: flex;
    height: 100vh;   
}

.side{
    width: 20%;
}
.item{
    width: 20%;
}

.pen{
    width: 20%;
}