
<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115522228-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115522228-1');
</script>

<!-- Global site tag (gtag.js) - AdWords: 812237564 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-812237564"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-812237564');
</script>

<meta charset="UTF-8">

<title>ルアーの種類一覧 | ルアーデータベース「ルアーバンク」</title>
<meta name="Keywords" content="ルアー,種類,一覧,バス,釣り,シーバス,海,トラウト">
<meta name="title" content="ルアーの種類一覧 | ルアーデータベース「ルアーバンク」">
<meta name="Description" content="バス釣りやシーバスはもちろん、ショア・オフショアの海のルアーからトラウトルアーまでルアーの種類を一覧で紹介しています。各ルアーの特徴を把握して使い分けや見分け方の参考に">
<link rel="canonical" href="https://lurebank.com/type.php">

<meta property="og:url" content="https://lurebank.com/type.php">
<meta property="og:title" content="ルアーの種類一覧 | ルアーデータベース「ルアーバンク」">
<meta property="og:description" content="バス釣りやシーバスはもちろん、ショア・オフショアの海のルアーからトラウトルアーまでルアーの種類を一覧で紹介しています。各ルアーの特徴を把握して使い分けや見分け方の参考に">
<meta property="og:image" content="https://image.lurebank.com/img/facebook_ogp.png">
<meta property="og:image:alt" content="ルアーバンク">
<meta property="og:type" content="website">
<meta property="fb:app_id" content="495851790840268">

<meta name="format-detection" content="telephone=no">
<meta name="robots" content="index,follow">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<link rel="shortcut icon" href="https://image.lurebank.com/img/favicons/favicon.ico">

<link rel="apple-touch-icon" sizes="57x57" href="https://image.lurebank.com/img/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://image.lurebank.com/img/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://image.lurebank.com/img/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://image.lurebank.com/img/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://image.lurebank.com/img/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://image.lurebank.com/img/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://image.lurebank.com/img/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://image.lurebank.com/img/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://image.lurebank.com/img/favicons/apple-touch-icon-180x180.png">

<link rel="icon" type="image/png" sizes="192x192" href="https://image.lurebank.com/img/favicons/android-chrome-192x192.png">

<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="https://image.lurebank.com/img/favicons/mstile-144x144.png">

<link rel="icon" type="image/png" sizes="36x36" href="https://image.lurebank.com/img/favicons/icon-36x36.png">
<link rel="icon" type="image/png" sizes="48x48" href="https://image.lurebank.com/img/favicons/icon-48x48.png">
<link rel="icon" type="image/png" sizes="72x72" href="https://image.lurebank.com/img/favicons/icon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://image.lurebank.com/img/favicons/icon-96x96.png">
<link rel="icon" type="image/png" sizes="128x128" href="https://image.lurebank.com/img/favicons/icon-128x128.png">
<link rel="icon" type="image/png" sizes="144x144" href="https://image.lurebank.com/img/favicons/icon-144x144.png">
<link rel="icon" type="image/png" sizes="152x152" href="https://image.lurebank.com/img/favicons/icon-152x152.png">
<link rel="icon" type="image/png" sizes="160x160" href="https://image.lurebank.com/img/favicons/icon-160x160.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://image.lurebank.com/img/favicons/icon-192x192.png">
<link rel="icon" type="image/png" sizes="196x196" href="https://image.lurebank.com/img/favicons/icon-196x196.png">
<link rel="icon" type="image/png" sizes="256x256" href="https://image.lurebank.com/img/favicons/icon-256x256.png">
<link rel="icon" type="image/png" sizes="384x384" href="https://image.lurebank.com/img/favicons/icon-384x384.png">
<link rel="icon" type="image/png" sizes="512x512" href="https://image.lurebank.com/img/favicons/icon-512x512.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://image.lurebank.com/img/favicons/icon-16x16.png">
<link rel="icon" type="image/png" sizes="24x24" href="https://image.lurebank.com/img/favicons/icon-24x24.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://image.lurebank.com/img/favicons/icon-32x32.png">


<link rel="mask-icon" href="https://image.lurebank.com/img/favicons/safari-pinned-tab.svg" color="#0099d9">

<meta name="apple-mobile-web-app-title" content="LureBank">
<meta name="application-name" content="LureBank">

<meta name="msapplication-config" content="https://image.lurebank.com/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#1e50a2">
 
<link rel="manifest" href="manifest.json">

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" type="text/css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<link rel="stylesheet" href="css/bootstrap-3.3.7/css/bootstrap.min.css" type="text/css">
<script type="text/javascript" src="css/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/bootbox.js?v=1.1"></script>
<link rel="stylesheet" href="js/jquery.mmenu/css/jquery.mmenu.all.css" type="text/css">
<script type="text/javascript" src="js/jquery.mmenu/js/jquery.mmenu.all.min.js"></script>
<script type="text/javascript" src="js/jquery.mmenu/addons/fixedelements/jquery.mmenu.fixedelements.min.js"></script>
<script type="text/javascript" src="js/jquery.lazyload/jquery.lazyload.min.js"></script>

<link rel="stylesheet" href="js/jquery.colorbox/colorbox.css" type="text/css"> 
<script type="text/javascript" charset="utf-8" src="js/jquery.colorbox/jquery.colorbox.js"></script>

<script type="text/javascript" charset="utf-8" src="js/jquery.toggleElements/jquery.toggleElements.js?v=1530259165"></script>
<script type="text/javascript" src="js/jquery.focusInOut.js"></script>
<link rel="stylesheet" href="css/form_parts.css?v=1585180843" type="text/css" charset="utf-8">

<link rel="stylesheet" href="css/style.css?v=1583915619" type="text/css" charset="utf-8">
<link rel="stylesheet" href="css/LureBankFont/style.css?v=1537403224" type="text/css">


<link rel="stylesheet" href="js/noUiSlider/nouislider.css" media="all" type="text/css">
<script type="text/javascript" src="js/noUiSlider/nouislider.js"></script>
<script type="text/javascript" src="js/noUiSlider/wNumb.js"></script>
<script type="text/javascript" src="js/func_show_content.js"></script>

<script type="text/javascript" charset="utf-8" src="js/func_screener_slider2.js?v=1533103180"></script>
<script type="text/javascript" charset="utf-8" src="js/func_screener2.js?v=1533282472"></script>

<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->

<script type="text/javascript" charset="utf-8" src="js/ajax_func_get_item_total.js?v=1533604556"></script>
<script src="js/jquery.slick/slick.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="js/jquery.slick/slick.css" media="all" type="text/css">
<link rel="stylesheet" href="js/jquery.slick/slick-theme.css" media="all" type="text/css">

<script type="text/javascript" charset="utf-8" src="js/functions.js?v=1564627831"></script>

<script type="text/javascript" src="js/area_head.js?v=1537422565"></script>

<script type="text/javascript">
$(function(){

	//公式ストアの閲覧履歴の取得・保存・表示
	let itemData = false;

	//

	//アイテムデータがある場合もしくは、表示する場合にのみローカルストレージからデータを読み込む
	if(itemData || $('.innerbox_history').length > 0){

		const historyKey = 'history_store';
		const histoySaveNum = 8;

		let historyData = localStorage.getItem(historyKey);

		if(historyData){
			historyData = JSON.parse(historyData);
		}else{
			historyData = [];
		}

		//公式ストアアイテムの閲覧履歴を保存
		if(itemData){

			if(historyData.length > 0){

				//同じIDを削除する
				for(let i in historyData){

					if(historyData[i]['item_id'] == itemData['item_id']){
						historyData.splice(i,1);
					}

				}

			}

			//データの一番前に追加
			historyData.unshift(itemData);

			if(historyData.length > histoySaveNum){
				historyData.pop();
			}

			//ローカルストレージに保存
			localStorage.setItem(historyKey,JSON.stringify(historyData));

			//テストコード
			//localStorage.setItem(historyKey,'');

		}

		//公式ストアの閲覧履歴の表示
		if($('.innerbox_history').length > 0){

			//現在のURL
			let url = window.location.href;

			//閲覧履歴があって、特定ページを
			if(historyData.length > 0 && url.indexOf('store_history.php') < 0){

				//クローンするリストのHTMLを取得
				let cloneHtml = $('.innerbox_history .col').remove();

				//各値を反映して、要素を追加する
				for(let i in historyData){

					//各値を変更
					cloneHtml.find('a').attr('href','store_item.php?id='+historyData[i]['item_id']);
					cloneHtml.find('.squarebox img').attr('src','https://image.lurebank.com/store/'+historyData[i]['item_id']+'/l/1.jpg');
					cloneHtml.find('.wrapper_details h4').html(historyData[i]['item_name']);

					//定価の表示
					if(historyData[i]['list_price'] >= historyData[i]['sale_price']){

						cloneHtml.find('.wrapper_details .list_price .label_low_price').html(historyData[i]['discount_rate']);
						cloneHtml.find('.wrapper_details .list_price s').html(historyData[i]['list_price']+'円');

					}else{
						cloneHtml.find('.wrapper_details .list_price').addClass('default_hide');
					}

					//実売価格の表示
					cloneHtml.find('.wrapper_details .min_price').html(historyData[i]['price_prefix']+historyData[i]['sale_price']);

					cloneHtml.find('.wrapper_details .tax').html('円(税別)'+historyData[i]['price_suffix']);

					//HTMLをクローン
					$('.innerbox_history .wrapper_carousel').append(cloneHtml.clone(true));

				}

				//スライドショーの実行
				$('[data-action="history_carousel"]').slick({
					autoplay: true,//自動送り
					//autoplaySpeed: 3000,//自動送り感覚 ミリ秒
					infinite: true,//無限送り
					dots: false,//下のドット
					slidesToShow: 3,//見せるアイテム数
					slidesToScroll: 1,//スクロール時の個数
					responsive:[
						{
							breakpoint: 768,
							settings:{
								arrows: false,
								slidesToShow: 2,
								slidesToScroll: 1,
							}
						}
					]
				});

			}else{
				$('.innerbox_history').hide();
			}

		}

	}

	//テストコード
	//localStorage.setItem('history_store','');

});
</script>

<link rel="stylesheet" href="css/style_lure.css?v=1538109495" type="text/css">
<link rel="stylesheet" href="js/swiper/swiper.min.css" type="text/css">
<script type="text/javascript" src="js/swiper/swiper.min.js"></script>

<script type="text/javascript">




$(function(){

	//スクリーナー
	var itemName = 'lure';//釣具の名前 lure,reel,rod,line,hook,goods...
	var formElm = $('.fform');//フォームエレメント
	var returnElm = $('.hidden_js_return_screener_values_'+itemName);//スクリーニングの条件が格納されているフォームの親エレメント

	//スクリーナー内のスライダー
	var sliderSettings = getSetting(itemName, returnElm);//各スライダーの設定を取得
	var elmArray = {}; //スライダーを設置するエレメントを格納する配列()
	var inModal = false;//スライダーがモーダル内にあるかどうか

	//スライダークリエイト(スライダー操作時の設定も同時に行う)
	nUSCreate(sliderSettings, elmArray, formElm, itemName, inModal);

	//スクリーナーに値を戻す(初期化)
	returnScreenerValues(formElm, returnElm);

	//リセットボタンを押した時
	$(document).on('click', '[data-action="reset_screener_'+itemName+'"]', function(e){
		
		e.preventDefault();

		//スライダーの値をリセット(必ず先にリセットする 隠しフィールドにスライダーの初期値が送られるため)
		nUSReset(sliderSettings, elmArray, inModal);

		//スクリーナーの値をリセット
		resetScreenerValues($(this));

	});

	//スクリーナーのタイプを変更したときにサブタイプがあれば表示する　なければ隠す
	$(document).on('change', '[name="type"]', function(e){
		
		var type = $(this).val();

		associationSelectBoxes(type);

	});


});

</script>

</head>



<body>

<div id="wrap">	
	
	<header class="container">

		<div class="header_top hidden-xs">

			<h1>ルアーの種類一覧 | ルアーデータベース「ルアーバンク」</h1>
			
			<div class="login">
			
								
					<a href="#search" data-action="open_modal_keyword_search" rel="nofollow"><span class="fas fa-search fa-fw" aria-hidden="true"></span>スゴい検索</a>｜<a href="signin.php" class="login_href" rel="nofollow"><span class="fas fa-sign-in-alt fa-fw" aria-hidden="true"></span>ユーザーログイン</a>
				
							
			</div>

		</div>
		
		
		
		<div class="header_top visible-xs">
			
			<h1>ルアーの種類一覧 | ルアーデータベース「ルアーバンク」</h1>
	
		</div>

		<div class="header_middle">
			
			<div class="logo">
								<a href="https://lurebank.com"><img src="https://image.lurebank.com/img/logo44.png" alt="ルアーバンク"></a>

			</div>
			
			<div class="wrapper_widget wrapper_widget_pc">
		
				<div class="block block_registration_items">
					
					<div class="slide_wrap">

						<ul class="slider_wide slider">

							<li>
								<a href="lure.php">
									<b>登録総数<span class="cache_star"></span></b><span class="item_total" data-role="item_total" data-name="lure"></span><span class="unit">ルアー</span>
									<b>今週の登録</b><span class="weekly_lure">21</span><span class="unit">ルアー</span>
								</a>
							</li>
							<li>
								<a href="rod.php">
									<b>登録総数</b><span class="item_total" data-role="item_total" data-name="rod"></span><span class="unit">ロッド</span>
									<b>今週の登録</b><span class="weekly_lure">13</span><span class="unit">ロッド</span>
								</a>
							</li>
							<li>
								<a href="reel.php">
									<b>登録総数</b><span class="item_total" data-role="item_total" data-name="reel"></span><span class="unit">リール</span>
									<b>今週の登録</b><span class="weekly_lure">16</span><span class="unit">リール</span>
								</a>
							</li>
							<li>
								<a href="line.php">
									<b>登録総数</b><span class="item_total" data-role="item_total" data-name="line"></span><span class="unit">ライン</span>
									<b>今週の登録</b><span class="weekly_lure">10</span><span class="unit">ライン</span>
								</a>
							</li>
							<li>
								<a href="hook.php">
									<b>登録総数</b><span class="item_total" data-role="item_total" data-name="hook"></span><span class="unit">フック</span>
									<b>今週の登録</b><span class="weekly_lure">3</span><span class="unit">フック</span>
								</a>
							</li>

						</ul>
						
					</div>
					
				</div>

				<div class="block block_keyword_serach">
						
					<form action="item_list.php" method="get">

						<div class="addon_input_group">
							<input type="text" name="keyword" class="textbox" placeholder="メーカー名や釣具名の一部を入力" data-action="open_modal_keyword_search">
							<span class="input_addon"><button type="button" data-action="open_modal_keyword_search"><span class="fas fa-search fa-fw" aria-hidden="true"></span></button></span>
						</div>

					</form>
				
				</div>
			
			</div>


			<div class="wrapper_buttons wrapper_buttons_sp wrapper_widget wrapper_widget_sp">
				
								
					<a href="signin.php" class="btn btn-default" rel="nofollow"><span class="fas fa-sign-in-alt fa-fw" aria-hidden="true"></span><span class="icon_text">ログイン</span></a>
				
								
				<a href="#search" class="btn btn-default" data-action="open_modal_keyword_search" rel="nofollow"><span class="fas fa-search fa-fw" aria-hidden="true"></span><span class="icon_text">スゴい検索</span></a>
				<a href="#slide_menu" class="btn btn-default" rel="nofollow"><span class="fas fa-bars fa-fw" aria-hidden="true"></span><span class="icon_text">メニュー</span></a>
												
			</div>

		</div>


		<nav>
		
			<ul class="header_nav header_nav_pc">
				<li><a href="https://lurebank.com"><span class="fas fa-home fa-fw" aria-hidden="true"></span>TOP</a></li>
				
								
					<li><a href="item_list.php?select=release"><span class="fas fa-list fa-fw" aria-hidden="true"></span>ルアー一覧</a></li>
				
								<li><a href="type.php"><span class="lbf lbf-lure1 lbf-2x" aria-hidden="true"></span>ルアーの種類</a></li>
				<li><a href="maker_list.php"><span class="far fa-building fa-fw" aria-hidden="true"></span>ブランド一覧</a></li>
				<li><a href="tform.php"><span class="fas fa-envelope fa-fw" aria-hidden="true"></span>お問い合わせ</a></li>
				<li><a href="archive_list.php?category=selections_lure"><span class="fas fa-heart fa-fw" aria-hidden="true"></span>おすすめルアー</a></li>
			</ul>
			
			<ul class="header_nav header_nav_sp">
				<li><a href="https://lurebank.com"><span class="fas fa-home fa-fw" aria-hidden="true"></span><span class="icon_text">TOP</span></a></li>
								
					<li><a href="item_list.php?select=release"><span class="fas fa-list fa-fw" aria-hidden="true"></span><span class="icon_text">ルアー一覧</span></a></li>
				
								
				<li><a href="type.php"><span class="lbf lbf-lure1 lbf-2x" aria-hidden="true"></span><span class="icon_text">ルアーの種類</span></a></li>
				<li><a href="maker_list.php"><span class="far fa-building fa-fw" aria-hidden="true"></span><span class="icon_text">ブランド一覧</span></a></li>
				<li><a href="archive_list.php?category=selections_lure"><span class="fas fa-heart fa-fw" aria-hidden="true"></span><span class="icon_text">お薦めルアー</span></a></li>	
			</ul>


			<div class="global_nav">
				
				<ul class="row">

					<li><a href="lure.php"><span class="lbf lbf-lure1 lbf-2x gn_icon" aria-hidden="true"></span>スゴいルアー検索</a></li>
					<li><a href="reel.php"><span class="lbf lbf-spinning lbf-2x gn_icon" aria-hidden="true"></span>スゴいリール検索</a></li>
					<li><a href="line.php"><span class="lbf lbf-line lbf-2x gn_icon" aria-hidden="true"></span>スゴいライン検索</a></li>
					<li><a href="rod.php"><span class="lbf lbf-bait-rod lbf-2x gn_icon" aria-hidden="true"></span>スゴいロッド検索 <span class="label label-success">β版</span></a></li>
					<li><a href="hook.php"><span class="label label_osusume">NEW</span><span class="lbf lbf-hook_3 lbf-2x gn_icon" aria-hidden="true"></span>スゴいフック検索</a></li>
					

				</ul>

			</div> 
			
		</nav>

	</header>
	
	<div class="container">
	
		<div class="content">	
				
			<div class="row">
						
				<div id="main" class="col col-sm-9 col-sm-push-3 col-xs-12">
				
					<div class="wrapper_pankuzu">	
				
						<div class="pankuzu">
						
							<a href="index.php">TOP</a> > ルアーの種類
		
							<a href="" class="history_back">戻る</a>
			
						</div>	
					
					</div>		



					<section class="innerbox innerbox_main_banner">
										
						<div class="block block_full_screen">
						
							<img src="https://image.lurebank.com/img/syurui_main_pc.jpg" alt="ルアーの種類" title="ルアーの種類">
		
						</div>
					
					</section>



					<div class="alert alert-success">
							
						<h3 class="text-success">ルアーを種類別に検索、各ルアーの「最安価格」や「使い方」が分かります！</h3>
						<p class="text-success">各ルアーのタイプをクリックすると、そのタイプのルアーの一覧が表示されます。ルアーバンクではAmazonや楽天、Yahooショッピング等の通販サイトから商品情報や最安価格を取得。動画やレビューによるルアーの使い方も分かります。</p>

					</div>
				
					<section class="innerbox innerbox_type_list">
					
						<h2><span class="lbf lbf-lure1 lbf-2x" aria-hidden="true"></span>ルアーの種類一覧</h2>



						<div class="block block_syurui_list">
						
							<div class="layout layout_thumbnail">
							
																
									<div class="row">								
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=poper">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/poper.jpg" alt="ポッパー" title="ポッパー">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=poper">ポッパー</a></h4>

										<p>ポッピングによるポップ音とスプラッシュで誘うトップウォータープラグ</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=poper" rel="nofollow"><span class="label label-info">95ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=pencil">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/pencil.jpg" alt="ペンシルベイト" title="ペンシルベイト">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=pencil">ペンシルベイト</a></h4>

										<p>リップがない細長いプラグで、主にトップウォーターとして水面を狙うプラグ</p>
										
																				
											<p class="wrapper wrapper_child_type">
												
													
												
													
												
																									<a href="item_list.php?type=pencil&sub_type=d_pencil">ダイビングペンシル</a> / 													
												
																									<a href="item_list.php?type=pencil&sub_type=f_pencil">フローティングペンシル</a> / 													
												
																									<a href="item_list.php?type=pencil&sub_type=sp_pencil">サスペンドペンシル</a> / 													
												
																									<a href="item_list.php?type=pencil&sub_type=s_pencil">シンキングペンシル</a>													
																						</p>

										
										<div class="info_labels">
										
											<a href="item_list.php?type=pencil" rel="nofollow"><span class="label label-info">326ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=crank">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/crank.jpg" alt="クランクベイト" title="クランクベイト">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=crank">クランクベイト</a></h4>

										<p>丸い小魚のシルエットのルアーで、横に震えるアクションと振動で誘うルアー</p>
										
																				
											<p class="wrapper wrapper_child_type">
												
													
												
													
												
																									<a href="item_list.php?type=crank&sub_type=s_crank">シャロークランク</a> / 													
												
																									<a href="item_list.php?type=crank&sub_type=m_crank">ミディアムレンジクランク</a> / 													
												
																									<a href="item_list.php?type=crank&sub_type=d_crank">ディープクランク</a> / 													
												
																									<a href="item_list.php?type=crank&sub_type=etc_crank">クランクベイト(その他)</a>													
																						</p>

										
										<div class="info_labels">
										
											<a href="item_list.php?type=crank" rel="nofollow"><span class="label label-info">181ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=vibration">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/vibration.jpg" alt="バイブレーション" title="バイブレーション">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=vibration">バイブレーション</a></h4>

										<p>ただ巻きで振動アクションするいろいろなレンジ(水深)を狙えるルアー</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=vibration" rel="nofollow"><span class="label label-info">195ルアー</span></a>
										
										</div>
								
		
									</div>
									
									</div>			
																
									<div class="row">								
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=spin_tail_jig">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/spin_tail_jig.jpg" alt="スピンテールジグ" title="スピンテールジグ">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=spin_tail_jig">スピンテールジグ</a></h4>

										<p>テールに付いたブレードのフラッシング効果と波動で誘うルアー</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=spin_tail_jig" rel="nofollow"><span class="label label-info">23ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=metal_jig">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/metal_jig.jpg" alt="メタルジグ" title="メタルジグ">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=metal_jig">メタルジグ</a></h4>

										<p>鉛やタングステンなどが素材の金属製のルアー 深場を狙うジギング向けのルアー</p>
										
																				
											<p class="wrapper wrapper_child_type">
												
													
												
													
												
																									<a href="item_list.php?type=metal_jig&sub_type=namari">鉛製メタルジグ</a> / 													
												
																									<a href="item_list.php?type=metal_jig&sub_type=tungsten">タングステン系メタルジグ</a> / 													
												
																									<a href="item_list.php?type=metal_jig&sub_type=jig_etc">軽比重メタルジグ</a>													
																						</p>

										
										<div class="info_labels">
										
											<a href="item_list.php?type=metal_jig" rel="nofollow"><span class="label label-info">480ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=inchiku">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/inchiku.jpg" alt="インチク" title="インチク">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=inchiku">インチク</a></h4>

										<p>伝統的な漁具をアレンジしたオフショア用のルアー 根魚の他にも真鯛や青物も狙える</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=inchiku" rel="nofollow"><span class="label label-info">11ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=tairaba">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/tairaba.jpg" alt="タイラバ" title="タイラバ">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=tairaba">タイラバ</a></h4>

										<p>ヘッドとラバー、ネクタイがセットになった真鯛を釣るためのアイテム 根魚もよくヒットする</p>
										
																				
											<p class="wrapper wrapper_child_type">
												
													
												
													
												
																									<a href="item_list.php?type=tairaba&sub_type=t_namari">鉛製タイラバ</a> / 													
												
																									<a href="item_list.php?type=tairaba&sub_type=t_tungsten">タングステン系タイラバ</a>													
																						</p>

										
										<div class="info_labels">
										
											<a href="item_list.php?type=tairaba" rel="nofollow"><span class="label label-info">43ルアー</span></a>
										
										</div>
								
		
									</div>
									
									</div>			
																
									<div class="row">								
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=egi">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/egi.jpg" alt="餌木(エギ)" title="餌木(エギ)">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=egi">餌木(エギ)</a></h4>

										<p>アオリイカを釣るための疑似餌。ショア用のエギと、ティップラン用などオフショア(船)用のエギがある。</p>
										
																				
											<p class="wrapper wrapper_child_type">
												
													
												
													
												
																									<a href="item_list.php?type=egi&sub_type=s_egi">エギ(シャロー)</a> / 													
												
																									<a href="item_list.php?type=egi&sub_type=n_egi">エギ(ノーマル)</a> / 													
												
																									<a href="item_list.php?type=egi&sub_type=d_egi">エギ(ディープ)</a> / 													
												
																									<a href="item_list.php?type=egi&sub_type=os_egi">エギ(ボート用)</a>													
																						</p>

										
										<div class="info_labels">
										
											<a href="item_list.php?type=egi" rel="nofollow"><span class="label label-info">49ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=rubber_jig">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/rubber_jig.jpg" alt="ラバージグ" title="ラバージグ">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=rubber_jig">ラバージグ</a></h4>

										<p>主にブラックバスを釣るためのルアー トレーラーと呼ばれるワーム類と組み合わせて使う</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=rubber_jig" rel="nofollow"><span class="label label-info">33ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=wirebait">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/wirebait.jpg" alt="ワイヤーベイト" title="ワイヤーベイト">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=wirebait">ワイヤーベイト</a></h4>

										<p>ワイヤーに付いたブレードで小魚の群れを演出し、ブラックバスを狙うルアー</p>
										
																				
											<p class="wrapper wrapper_child_type">
												
													
												
													
												
																									<a href="item_list.php?type=wirebait&sub_type=spiner">スピナーベイト</a> / 													
												
																									<a href="item_list.php?type=wirebait&sub_type=buzzbait">バズベイト</a>													
																						</p>

										
										<div class="info_labels">
										
											<a href="item_list.php?type=wirebait" rel="nofollow"><span class="label label-info">36ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=shad">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/shad.jpg" alt="シャッド" title="シャッド">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=shad">シャッド</a></h4>

										<p>ミノーのようにリップが付いたプラグでミノーよりも小型のルアー</p>
										
																				
											<p class="wrapper wrapper_child_type">
												
													
												
													
												
																									<a href="item_list.php?type=shad&sub_type=f_shad">フローティングシャッド</a> / 													
												
																									<a href="item_list.php?type=shad&sub_type=sp_shad">サスペンドシャッド</a> / 													
												
																									<a href="item_list.php?type=shad&sub_type=s_shad">シンキングシャッド</a>													
																						</p>

										
										<div class="info_labels">
										
											<a href="item_list.php?type=shad" rel="nofollow"><span class="label label-info">63ルアー</span></a>
										
										</div>
								
		
									</div>
									
									</div>			
																
									<div class="row">								
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=minnow">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/minnow.jpg" alt="ミノー" title="ミノー">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=minnow">ミノー</a></h4>

										<p>リップがついた長めのルアーで、巻くことで潜るプラグ。フローティングのものは止めると浮く。</p>
										
																				
											<p class="wrapper wrapper_child_type">
												
													
												
													
												
																									<a href="item_list.php?type=minnow&sub_type=f_minnow">フローティングミノー</a> / 													
												
																									<a href="item_list.php?type=minnow&sub_type=sp_minnow">サスペンドミノー</a> / 													
												
																									<a href="item_list.php?type=minnow&sub_type=s_minnow">シンキングミノー</a>													
																						</p>

										
										<div class="info_labels">
										
											<a href="item_list.php?type=minnow" rel="nofollow"><span class="label label-info">499ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=jerkbait">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/jerkbait.jpg" alt="ジャークベイト" title="ジャークベイト">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=jerkbait">ジャークベイト</a></h4>

										<p>ロッドをジャークして明滅とフラッシングで誘うミノーやシャッド系のルアー</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=jerkbait" rel="nofollow"><span class="label label-info">42ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=jig_minnow">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/jig_minnow.jpg" alt="ジグミノー" title="ジグミノー">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=jig_minnow">ジグミノー</a></h4>

										<p>比重があり遠投性を高めたルアー 水深が深い場合、ポイントまで距離がある場合に使う</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=jig_minnow" rel="nofollow"><span class="label label-info">37ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=wake_bait">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/wake_bait.jpg" alt="ウェイクベイト" title="ウェイクベイト">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=wake_bait">ウェイクベイト</a></h4>

										<p>水面に引き波を立てて誘う、ミノー系のトップウォータープラグ</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=wake_bait" rel="nofollow"><span class="label label-info">14ルアー</span></a>
										
										</div>
								
		
									</div>
									
									</div>			
																
									<div class="row">								
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=prop_bait">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/prop_bait.jpg" alt="プロップベイト" title="プロップベイト">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=prop_bait">プロップベイト</a></h4>

										<p>プラグの前後どちらか、または両方にプロペラ(プロップ)の付いたほぼ表層を引くルアー</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=prop_bait" rel="nofollow"><span class="label label-info">32ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=swimbait">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/swimbait.jpg" alt="スイムベイト" title="スイムベイト">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=swimbait">スイムベイト</a></h4>

										<p>動きが非常に魚に似ているルアー 比較的大きなものが多くビックベイトとも呼ばれる</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=swimbait" rel="nofollow"><span class="label label-info">54ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=noisy">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/noisy.jpg" alt="ノイジープラグ" title="ノイジープラグ">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=noisy">ノイジープラグ</a></h4>

										<p>主にブラックバスやナマズを狙うためのルアーで、ノイジー(騒がしく)魚を威嚇するルアー</p>
										
																				
											<p class="wrapper wrapper_child_type">
												
													
												
													
												
																									<a href="item_list.php?type=noisy&sub_type=jitter">ノイジー(ジッター系)</a> / 													
												
																									<a href="item_list.php?type=noisy&sub_type=crawler">ノイジー(クローラー系)</a>													
																						</p>

										
										<div class="info_labels">
										
											<a href="item_list.php?type=noisy" rel="nofollow"><span class="label label-info">17ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=other_fish">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/other_fish.jpg" alt="フロッグ・バグ" title="フロッグ・バグ">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=other_fish">フロッグ・バグ</a></h4>

										<p>カエルや虫の形をした主に表層を狙うトップウォータープラグ</p>
										
																				
											<p class="wrapper wrapper_child_type">
												
													
												
													
												
																									<a href="item_list.php?type=other_fish&sub_type=frog">フロッグ</a> / 													
												
																									<a href="item_list.php?type=other_fish&sub_type=bug">バグルアー</a>													
																						</p>

										
										<div class="info_labels">
										
											<a href="item_list.php?type=other_fish" rel="nofollow"><span class="label label-info">32ルアー</span></a>
										
										</div>
								
		
									</div>
									
									</div>			
																
									<div class="row">								
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=spoon">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/spoon.jpg" alt="スプーン" title="スプーン">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=spoon">スプーン</a></h4>

										<p>ルアーの起源とも言われる金属片を曲げただけのルアー フォールやリトリーブなどで誘う</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=spoon" rel="nofollow"><span class="label label-info">43ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=spiner">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/spiner.jpg" alt="スピナー" title="スピナー">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=spiner">スピナー</a></h4>

										<p>先端についた金属のブレードが高速に回転することで誘うルアー 渓流などでよく使う</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=spiner" rel="nofollow"><span class="label label-info">7ルアー</span></a>
										
										</div>
								
		
									</div>
									
												
																
																	
									<div class="col col-xs-12 col-sm-3">
		
										<a href="item_list.php?type=etc">
	
											<div class="squarebox">
	
												<img src="https://image.lurebank.com/img/type/etc.jpg" alt="その他" title="その他">

											</div>										
																										
										</a>										
	
										<h4><a href="item_list.php?type=etc">その他</a></h4>

										<p>設定したジャンルにマッチしなかったルアーをまとめています。掘り出し物が見つかるかも!</p>
										
										
										<div class="info_labels">
										
											<a href="item_list.php?type=etc" rel="nofollow"><span class="label label-info">69ルアー</span></a>
										
										</div>
								
		
									</div>
									
									</div>			
								
							</div>

						</div>
				
					</section>	

					<div class="alert alert-success">
							
						<h3 class="text-success">スゴいルアー検索もお試しください！</h3>
						<p class="text-success">ルアーバンクではルアーの種類一覧の他にも、メーカーやルアーの重量からもルアーを検索・最安価格やルアーの使い方の動画やレビューなどが分かります。是非、お試しください♪</p>

					</div>


					<section class="innerbox innerbox_screener">
							
						<h2><span class="fas fa-search fa-fw" aria-hidden="true"></span>スゴいルアー検索</h2>
						
						<form method="get" action="item_list.php" class="fform">

							<div class="block block_screener block_screener_lure">

								<div class="header_screener">

									 

								</div>



								<div class="body_screener">

									<div class="row">
			
										<div class="col col-xs-12 col-sm-12">
											
											<div class="col col-xs-12">
										
												<h6>カテゴリー</h6>							
																						
											</div>
			
											<div class="col col-xs-12 col-sm-12">

												<div class="btn-group" data-toggle="buttons">
												
													<label class="btn btn-primary active">
														<input type="radio" name="category" value="" checked="checked"><span class="lbf lbf-all lbf-2x"></span><span class="icon_text">全て</span>
													</label>
													
																											
														<label class="btn btn-primary">
															<input type="radio" name="category" value="salt"><span class="lbf lbf-kanpachi lbf-2x"></span><span class="icon_text">ソルト系</span>
														</label>
														
																											
														<label class="btn btn-primary">
															<input type="radio" name="category" value="seabass"><span class="lbf lbf-seabass lbf-2x"></span><span class="icon_text">シーバス系</span>
														</label>
														
																											
														<label class="btn btn-primary">
															<input type="radio" name="category" value="bass"><span class="lbf lbf-bass lbf-2x"></span><span class="icon_text">バス系</span>
														</label>
														
																											
														<label class="btn btn-primary">
															<input type="radio" name="category" value="trout"><span class="lbf lbf-sakuramasu lbf-2x"></span><span class="icon_text">トラウト系</span>
														</label>
														
													 

												</div>

											</div>
											
										</div>
										
									</div><!-- .row end -->

							
							
							
								
							
									<div class="row">
									
										<div class="col col-xs-12 col-sm-4">
										
											<div class="col col-xs-12">
										
												<h6>対象魚</h6>
												
											</div>
			
											<div class="col col-xs-12">
											
												<div class="addon_input_group">
												
													<span class="input_addon"><span class="fa fa-filter"></span></span>
													
													<label class="select">
														<select name="target">
															<option value="">全て</option>
																															<option value="10">ブラックバス</option>
																															<option value="20">シーバス</option>
																															<option value="30">ヒラスズキ</option>
																															<option value="40">クロダイ・キビレ</option>
																															<option value="50">マダイ(真鯛)</option>
																															<option value="60">ブリ(青物)</option>
																															<option value="70">ヒラマサ</option>
																															<option value="80">カンパチ</option>
																															<option value="90">シイラ</option>
																															<option value="100">カツオ</option>
																															<option value="110">サワラ</option>
																															<option value="120">ヒラメ</option>
																															<option value="130">マゴチ</option>
																															<option value="140">カサゴ</option>
																															<option value="150">キジハタ</option>
																															<option value="160">根魚他</option>
																															<option value="165">ハゼ</option>
																															<option value="170">アカムツ</option>
																															<option value="180">タラ</option>
																															<option value="190">タチウオ</option>
																															<option value="200">メバル</option>
																															<option value="210">アジ</option>
																															<option value="220">サバ</option>
																															<option value="225">イサキ</option>
																															<option value="230">カマス</option>
																															<option value="235">メッキ</option>
																															<option value="240">キハダ(キメジ)</option>
																															<option value="250">クロマグロ(メジ)</option>
																															<option value="260">GT(ロウニンアジ)</option>
																															<option value="270">アオリイカ</option>
																															<option value="300">トラウト(ネイティブ)</option>
																															<option value="305">トラウト(エリア)</option>
																															<option value="330">ナマズ</option>
																															<option value="999">その他</option>
																													</select>
													</label>
												
												</div>
											
											</div>
											
										</div><!-- .col end -->
									
										
										
										<div class="col col-xs-12 col-sm-4 col_type">
										
											<div class="col col-xs-12">
										
												<h6>ルアーの種類</h6>
												
											</div>
			
											<div class="col col-xs-12">
											
												<div class="addon_input_group">
												
													<span class="input_addon"><span class="fa fa-filter"></span></span>
													
													<label class="select">
														<select name="type" data-role="parent">
															<option value="">全て</option>
																															<option value="poper">ポッパー</option>
																															<option value="pencil">ペンシルベイト</option>
																															<option value="crank">クランクベイト</option>
																															<option value="vibration">バイブレーション</option>
																															<option value="spin_tail_jig">スピンテールジグ</option>
																															<option value="metal_jig">メタルジグ</option>
																															<option value="inchiku">インチク</option>
																															<option value="tairaba">タイラバ</option>
																															<option value="egi">餌木(エギ)</option>
																															<option value="rubber_jig">ラバージグ</option>
																															<option value="wirebait">ワイヤーベイト</option>
																															<option value="shad">シャッド</option>
																															<option value="minnow">ミノー</option>
																															<option value="jerkbait">ジャークベイト</option>
																															<option value="jig_minnow">ジグミノー</option>
																															<option value="wake_bait">ウェイクベイト</option>
																															<option value="prop_bait">プロップベイト</option>
																															<option value="swimbait">スイムベイト</option>
																															<option value="noisy">ノイジープラグ</option>
																															<option value="other_fish">フロッグ・バグ</option>
																															<option value="spoon">スプーン</option>
																															<option value="spiner">スピナー</option>
																															<option value="etc">その他</option>
																													<select>
													</label>
				
												</div>
												
												<div class="addon_input_group">
												
													<span class="input_addon"><span class="fa fa-filter"></span></span>
													
													<label class="select">
														 
															
																														
														 
															
																														
															<select name="sub_type" disabled="disabled" data-role="children" data-type-key="pencil" >

																<option value="">全て</option>
																 
		
																																		
																 
		
																																		
																 
		
																																			<option value='d_pencil'>ダイビングペンシル</option>
																																		
																 
		
																																			<option value='f_pencil'>フローティングペンシル</option>
																																		
																 
		
																																			<option value='sp_pencil'>サスペンドペンシル</option>
																																		
																 
		
																																			<option value='s_pencil'>シンキングペンシル</option>
																																		
																 
													
															</select>
															
																														
														 
															
																														
															<select name="sub_type" disabled="disabled" data-role="children" data-type-key="crank" >

																<option value="">全て</option>
																 
		
																																		
																 
		
																																		
																 
		
																																			<option value='s_crank'>シャロークランク</option>
																																		
																 
		
																																			<option value='m_crank'>ミディアムレンジクランク</option>
																																		
																 
		
																																			<option value='d_crank'>ディープクランク</option>
																																		
																 
		
																																			<option value='etc_crank'>クランクベイト(その他)</option>
																																		
																 
													
															</select>
															
																														
														 
															
																														
														 
															
																														
														 
															
																														
															<select name="sub_type" disabled="disabled" data-role="children" data-type-key="metal_jig" >

																<option value="">全て</option>
																 
		
																																		
																 
		
																																		
																 
		
																																			<option value='namari'>鉛製メタルジグ</option>
																																		
																 
		
																																			<option value='tungsten'>タングステン系メタルジグ</option>
																																		
																 
		
																																			<option value='jig_etc'>軽比重メタルジグ</option>
																																		
																 
													
															</select>
															
																														
														 
															
																														
														 
															
																														
															<select name="sub_type" disabled="disabled" data-role="children" data-type-key="tairaba" >

																<option value="">全て</option>
																 
		
																																		
																 
		
																																		
																 
		
																																			<option value='t_namari'>鉛製タイラバ</option>
																																		
																 
		
																																			<option value='t_tungsten'>タングステン系タイラバ</option>
																																		
																 
													
															</select>
															
																														
														 
															
																														
															<select name="sub_type" disabled="disabled" data-role="children" data-type-key="egi" >

																<option value="">全て</option>
																 
		
																																		
																 
		
																																		
																 
		
																																			<option value='s_egi'>エギ(シャロー)</option>
																																		
																 
		
																																			<option value='n_egi'>エギ(ノーマル)</option>
																																		
																 
		
																																			<option value='d_egi'>エギ(ディープ)</option>
																																		
																 
		
																																			<option value='os_egi'>エギ(ボート用)</option>
																																		
																 
													
															</select>
															
																														
														 
															
																														
														 
															
																														
															<select name="sub_type" disabled="disabled" data-role="children" data-type-key="wirebait" >

																<option value="">全て</option>
																 
		
																																		
																 
		
																																		
																 
		
																																			<option value='spiner'>スピナーベイト</option>
																																		
																 
		
																																			<option value='buzzbait'>バズベイト</option>
																																		
																 
													
															</select>
															
																														
														 
															
																														
															<select name="sub_type" disabled="disabled" data-role="children" data-type-key="shad" >

																<option value="">全て</option>
																 
		
																																		
																 
		
																																		
																 
		
																																			<option value='f_shad'>フローティングシャッド</option>
																																		
																 
		
																																			<option value='sp_shad'>サスペンドシャッド</option>
																																		
																 
		
																																			<option value='s_shad'>シンキングシャッド</option>
																																		
																 
													
															</select>
															
																														
														 
															
																														
															<select name="sub_type" disabled="disabled" data-role="children" data-type-key="minnow" >

																<option value="">全て</option>
																 
		
																																		
																 
		
																																		
																 
		
																																			<option value='f_minnow'>フローティングミノー</option>
																																		
																 
		
																																			<option value='sp_minnow'>サスペンドミノー</option>
																																		
																 
		
																																			<option value='s_minnow'>シンキングミノー</option>
																																		
																 
													
															</select>
															
																														
														 
															
																														
														 
															
																														
														 
															
																														
														 
															
																														
														 
															
																														
														 
															
																														
															<select name="sub_type" disabled="disabled" data-role="children" data-type-key="noisy" >

																<option value="">全て</option>
																 
		
																																		
																 
		
																																		
																 
		
																																			<option value='jitter'>ノイジー(ジッター系)</option>
																																		
																 
		
																																			<option value='crawler'>ノイジー(クローラー系)</option>
																																		
																 
													
															</select>
															
																														
														 
															
																														
															<select name="sub_type" disabled="disabled" data-role="children" data-type-key="other_fish" >

																<option value="">全て</option>
																 
		
																																		
																 
		
																																		
																 
		
																																			<option value='frog'>フロッグ</option>
																																		
																 
		
																																			<option value='bug'>バグルアー</option>
																																		
																 
													
															</select>
															
																														
														 
															
																														
														 
															
																														
														 
															
																														
														 
													</label>
												
												</div>
												
											</div>

										</div><!-- .col end -->
										
										
										<div class="col col-xs-12 col-sm-4">
											
											<div class="col col-xs-12">
										
												<h6>フィールド</h6>
												
											</div>
			
											<div class="col col-xs-12">
		
												<div class="addon_input_group">
											
													<span class="input_addon"><span class="fa fa-filter"></span></span>
			
													<label class="select">
														<select name="field">
															<option value="" selected="selected">全て</option>
															<option value="offshore">ソルト(船)</option>
															<option value="iso">磯</option>
															<option value="bay">港湾</option>
															<option value="shore">堤防</option>
															<option value="surf">サーフ</option>
															<option value="estuary">河口</option>
															<option value="river">河川</option>
															<option value="lake">湖・池・ダム</option>
															<option value="keiryu">渓流</option>
															<option value="kanri">管理釣り場</option>
														</select>
													</label>
												
												</div>
												
											</div><!-- .col end -->
																												
										</div><!-- .col end -->

									</div><!-- .row end -->
		
								
								
									<div class="row">
									
										<div class="col col-xs-12 col-sm-5">
										
											<div class="col col-xs-12">
										
												<h6>ブランド(メーカー)</h6>
												
											</div>
			
											<div class="col col-xs-12">
												
												<div class="addon_input_group">
												
													<span class="input_addon"><span class="fa fa-filter"></span></span>
			
													<label class="select">
														<select name="maker">
															<option value="">全て</option>
															 

																<option value="abugarcia">AbuGarcia(アブ・ガルシア)</option>

															 

																<option value="anres">ANRE’S(アンレーズ)</option>

															 

																<option value="apia">APIA(アピア)</option>

															 

																<option value="arms">ARMS(アームズ)</option>

															 

																<option value="ass">A.S.S.(アングラーズサポートサービス)</option>

															 

																<option value="bassday">BassDay(バスデイ)</option>

															 

																<option value="beat">beat(ビート)</option>

															 

																<option value="berkley">Berkley(バークレイ)</option>

															 

																<option value="blueblue">BlueBlue(ブルーブルー)</option>

															 

																<option value="bozles">BOZLES(ボーズレス)</option>

															 

																<option value="breaden">BREADEN(ブリーデン)</option>

															 

																<option value="breed">BREED(ブリード)</option>

															 

																<option value="carpenter">CARPENTER(カーペンター)</option>

															 

																<option value="cb_one">CB ONE(シービーワン)</option>

															 

																<option value="coreman">COREMAN(コアマン)</option>

															 

																<option value="crazy_ocean">Crazy Ocean(クレイジーオーシャン)</option>

															 

																<option value="cross_two">CROSS TWO(クロスツー)</option>

															 

																<option value="d_claw">D-CLAW(ディークロウ)</option>

															 

																<option value="daiwa">DAIWA(ダイワ)</option>

															 

																<option value="damiki_japan">DAMIKI JAPAN(ダミキジャパン)</option>

															 

																<option value="deep_liner">DEEP LINER(ディープライナー)</option>

															 

																<option value="deps">deps(デプス)</option>

															 

																<option value="duel">DUEL(デュエル)</option>

															 

																<option value="duo">DUO(デュオ)</option>

															 

																<option value="ever_green">Ever Green(エバーグリーン)</option>

															 

																<option value="ezohachi">EzoHachi(エゾハチ)</option>

															 

																<option value="fisherman">FISHERMAN(フィッシャーマン)</option>

															 

																<option value="gancraft">GAN CRAFT(ガンクラフト)</option>

															 

																<option value="gear_lab">Gear Lab(ギアラボ)</option>

															 

																<option value="geecrack">GEECRACK(ジークラック)</option>

															 

																<option value="genio">GENIO(ジニオ)</option>

															 

																<option value="hayabusa">Hayabusa(ハヤブサ)</option>

															 

																<option value="hitmanlures">THE HITMAN LURES(ザ・ヒットマンルアーズ)</option>

															 

																<option value="hots">HOTS(ホッツ)</option>

															 

																<option value="ima">ima(アムズデザイン)</option>

															 

																<option value="ja_do">Ja-do(邪道)</option>

															 

																<option value="jackall">JACKALL(ジャッカル)</option>

															 

																<option value="jackson">Jackson(ジャクソン)</option>

															 

																<option value="jumprize">JUMPRIZE(ジャンプライズ)</option>

															 

																<option value="k_flat">K-FLAT(ケイフラット)</option>

															 

																<option value="kamiwaza">KAMIWAZA(カミワザ)</option>

															 

																<option value="komo">KOMO(コモ)</option>

															 

																<option value="kouryoumaru">幸漁丸(コウリョウマル)</option>

															 

																<option value="lamble_bait">Lamble Bait(ランブルベイト)</option>

															 

																<option value="little_jack">LITTLE JACK(リトルジャック)</option>

															 

																<option value="lots_of_art">Lots Of Art(ロッツオブアート)</option>

															 

																<option value="majorcraft">Major Craft(メジャークラフト)</option>

															 

																<option value="maria">Maria(マリア)</option>

															 

																<option value="mc_works">MC Works(エムシー ワークス)</option>

															 

																<option value="megabass">Megabass(メガバス)</option>

															 

																<option value="melonya">MELON-YA(メロン屋工房)</option>

															 

																<option value="nature_boys">Nature Boys(ネイチャーボーイズ)</option>

															 

																<option value="osp">O.S.P(オーエスピー)</option>

															 

																<option value="passions">passions(パッションズ)</option>

															 

																<option value="pudlee">pudlee(パドリー)</option>

															 

																<option value="rapala">RAPALA(ラパラ)</option>

															 

																<option value="reals">REALS(リアルズ)</option>

															 

																<option value="seafalcon">SeaFalcon(シーファルコン)</option>

															 

																<option value="sfc">SFC(シーフロアコントロール)</option>

															 

																<option value="shimano">SHIMANO(シマノ)</option>

															 

																<option value="shout">Shout!(シャウト!)</option>

															 

																<option value="smith">SMITH(スミス)</option>

															 

																<option value="tackle_house">TACKLE HOUSE(タックルハウス)</option>

															 

																<option value="tailwalk">tailwalk(テイルウォーク)</option>

															 

																<option value="tanajig">TANAJIG(タナジグ)</option>

															 

																<option value="tiemco">TIEMCO(ティムコ)</option>

															 

																<option value="uroco">uroco(ウロコ)</option>

															 

																<option value="valleyhill">Valleyhill(バレーヒル)</option>

															 

																<option value="wild_gambler">WILD GAMBLER(ワイルドギャンブラー)</option>

															 

																<option value="xesta">XESTA(ゼスタ)</option>

															 

																<option value="yamashita">YAMASHITA(ヤマシタ)</option>

															 

																<option value="zero_dragon">ZERO DRAGON(ゼロドラゴン)</option>

															 

																<option value="zetz">ZetZ(ゼッツ)</option>

															 
														</select>
													</label>
												
												</div>
											
											</div>
											
										</div><!-- .col end -->
		
										
		
										<div class="col col-xs-12 col-sm-7">
											
											<div class="col col-xs-12">
										
												<h6>ルアー名</h6>							
																						
											</div>
			
											<div class="col col-xs-12">
		
												<input type="text" name="keyword" class="textbox" placeholder="ルアー名の一部で探す" value="">
			
											</div>
											
										</div>
										
									</div><!-- .row end -->


						
									<div class="row">
			
										<div class="col col-xs-12 col-sm-6 ui_slider">
											
											<div class="col col-xs-12">
											
												<h6>ウエイト(<span class="g_same"><span class="g_min"></span>〜</span><span class="g_max"></span>g)</h6>
												
											</div>
											
											<div class="col col-xs-12">
												
												<div class="wrapper_ui_slider">
												
													<div class="ui_slider_lure_g"></div>
													
													<input type="hidden" name="g_min" class="textbox" value="">
													<input type="hidden" name="g_max" class="textbox" value="">
													
												</div>
														
											</div>									
																					
										</div><!-- .col end -->
											
										<div class="col col-xs-12 col-sm-6 col_size ui_slider">
											
											<div class="col col-xs-12 mm_col">
											
												<h6>サイズ(<span class="mm_same"><span class="mm_min"></span>〜</span><span class="mm_max"></span>mm)</h6>

												<label class="checkbox">
													<input type="checkbox" name="not_filling_size" value="0"><span class="item_label">サイズ記入の無いルアーを除く</span>
												</label>
												
											</div>
											
											<div class="col col-xs-12">
												
												<div class="wrapper_ui_slider">
												
													<div class="ui_slider_lure_mm"></div>
													
													<input type="hidden" name="mm_min" class="textbox" value="">
													<input type="hidden" name="mm_max" class="textbox" value="">
												
												</div>
														
											</div>		
																												
										</div><!-- .col end -->
										
									</div><!-- .row end -->

								</div>
	
							</div><!-- .block end -->
							


							<div class="wrapper wrapper_buttons">
								
								<div class="row">
								
									<div class="col col-xs-4 col-sm-2 col-sm-offset-3">
									
										<button type="button" class="btn btn-warning btn-block" data-action="reset_screener_lure"></span>リセット</button>
										
									</div>
									
									<div class="col col-xs-8 col-sm-4">
									
										<button type="submit" class="btn btn-success btn-block"><span class="fa fa-search fa-fw" aria-hidden="true"></span>検索</button>
										
									</div>
								
								</div>
							
							</div>
						
						</form>
						
					</section>	
		
								
				</div><!-- #main end -->
						
				<div id="sidebar" class="col col-sm-3 col-sm-pull-9 col-xs-12 hidden-xs">

				<section class="innerbox">
					
					<div class="block block_banner block_banner">	
					
						<a href="http://www.yamaria.co.jp/maria/product/detail/147" target="_blank" rel="nofollow"><img src="https://image.lurebank.com/img/baner/sidebar_top2.jpg"></a>
					
					</div>
				
				</section>



				<section class="innerbox innerbox_search_banner">
						
					<h2>各種検索エンジン</h2>

					<div class="block block_search block_search_banner block_search_banner_sugoi">
												
						<ul>
							
							<li>
								<a href="lure.php">
									<div class="name_label">
										スゴいルアー検索
									</div>
								</a>
							</li>

							<li>
								<a href="reel.php">
									<div class="name_label">
										スゴいリール検索
									</div>
								</a>
							</li>

							<li>
								<a href="line.php">
									<div class="name_label">
										スゴいライン検索
									</div>
								</a>
							</li>

							<li>
								<a href="rod.php">
									<div class="name_label">
										スゴいロッド検索
									</div>
								</a>
							</li>

							<li>
								<a href="hook.php">
									<div class="name_label">
										スゴいフック検索
									</div>
								</a>
							</li>

							<li>
								<a href="jan.php">
									<div class="name_label">
										商品コード釣具検索
									</div>
								</a>
							</li>
					
						</ul><!-- .wrapper end -->
						
					</div><!-- .block end -->
					
				</section>


				<section class="innerbox">
				
					<h2>ピックアップ</h2>
			
					<div class="block block_search_list">	
					
						<ul class="list">			

							<li><a href="line_pe_lineup.php"><span class="lbf lbf-line lbf-1x gn_icon icon" aria-hidden="true"></span>PEライン(号数✕長さ)一覧表</a></li>
							<li><a href="item_list.php?tag=slow_jigging"><span class="lbf lbf-line lbf-1x gn_icon icon" aria-hidden="true"></span>スロージギング用ジグ一覧</a></li>
							
						</ul>
												
					</div>
				
				</section>


				<section class="innerbox innerbox_tool">
				
					<h2>便利ツール</h2>
			
					<div class="block block_search_list">	
					
						<ul class="list">			

							<li><a href="line_cal.php"><span class="lbf lbf-spinning lbf-1x gn_icon icon" aria-hidden="true"></span>リールの糸巻き量計算ツール</a></li>
							<li><a href="line_cal_base.php"><span class="lbf lbf-spinning lbf-1x gn_icon icon" aria-hidden="true"></span>リールの下巻き量計算ツール</a></li>
							
						</ul>
												
					</div>
				
				</section>


				<section class="innerbox innerbox_store">
				
					<h2>公式ストア</h2>
			
					<div class="block block_list">	
					
						<ul class="list">			

							<li><a href="store.php"><span class="fas fa-shopping-basket fa-fw icon" aria-hidden="true"></span>ルアーバンク×ジギング魂<br>公式ストア</a></li>

														
						</ul>
												
					</div>
				
				</section>


				<section class="innerbox">
				
					<h2>裏メニュー</h2>
			
					<div class="block block_search_list">	
					
						<ul class="list">			

							<li><a href="archive_list.php?category=qanda"><span class="far fa-question-circle fa-fw icon" aria-hidden="true"></span>ルアーフィッシングQ&A</a></li>
							<li><a href="goods.php"><span class="fas fa-search fa-fw icon" aria-hidden="true"></span>ルアーフィッシング関連グッズ</a></li>
							<li><a href="present_list.php"><span class="fas fa-gift fa-fw icon" aria-hidden="true"></span>プレゼントコーナー</a></li>
							<li><a href="archive_list.php?category=notice"><span class="fas fa-bell fa-fw icon" aria-hidden="true"></span>お知らせ</a></li>
							<li><a href="archive_list.php?category=content"><span class="fas fa-book fa-fw icon" aria-hidden="true"></span>コンテンツ</a></li>
							<li><a href="assist_hook_list.php"><span class="fas fa-book fa-fw icon" aria-hidden="true"></span>アシストフックの作り方</a></li>
							
						</ul>

						 
												
					</div>
				
				</section>
				

	
				<section class="innerbox">
					
					<div class="block block_banner block_banner">	
					
						<a href="http://www.yamaria.co.jp/cms/special/maria/rapido/index.html" target="_blank" rel="nofollow"><img src="https://image.lurebank.com/img/baner/sidebar_bottom2.jpg"></a>

					</div>
				
				</section>

			</div><!-- #sidebar_end -->

								
			</div><!-- .row end -->
			
		</div><!-- .content end -->
	
	</div><!-- .container end -->	
		
	
		
	<footer class="container">
		
		<div class="block block_share_fixed">
			
			<a href="http://line.me/R/msg/text/?ルアーの種類一覧 | ルアーデータベース「ルアーバンク」 - ルアーバンク%0D%0Ahttps://lurebank.com/type.php%3Fline=1" class="btn_line_share">
				<img src="https://image.lurebank.com/img/share_button.png" alt="友達に教える">
				<p>このページのリンクを送れます</p>
			</a>

		</div>

	
		<div class="wrapper_towa">
			<img src="https://image.lurebank.com/img/toha1.png" alt="ルアーバンクとは？">
		</div>

		<div class="global_nav">
				
				<ul class="row">

					<li><a href="lure.php"><span class="lbf lbf-lure1 lbf-2x gn_icon" aria-hidden="true"></span>スゴいルアー検索</a></li>
					<li><a href="reel.php"><span class="lbf lbf-spinning lbf-2x gn_icon" aria-hidden="true"></span>スゴいリール検索</a></li>
					<li><a href="line.php"><span class="lbf lbf-line lbf-2x gn_icon" aria-hidden="true"></span>スゴいライン検索</a></li>
					<li><a href="rod.php"><span class="lbf lbf-bait-rod lbf-2x gn_icon" aria-hidden="true"></span>スゴいロッド検索 <span class="label label-success">β版</span></a></li>
					<li><a href="hook.php"><span class="label label_osusume">NEW</span><span class="lbf lbf-hook_3 lbf-2x gn_icon" aria-hidden="true"></span>スゴいフック検索</a></li>
					

				</ul>

			</div> 



		<ul class="footer_nav">
			<li><a href="https://lurebank.com"><span class="fas fa-home fa-fw" aria-hidden="true"></span>TOP</a></li>
			<li><a href="item_list.php?select=release"><span class="fas fa-list fa-fw" aria-hidden="true"></span>ルアー一覧</a></li>
			<li><a href="type.php"><span class="lbf lbf-lure1" aria-hidden="true"></span>ルアーの種類</a></li>
			<li><a href="annai.php"><span class="far fa-building fa-fw" aria-hidden="true"></span>運営会社</a></li>
			<li><a href="annai.php#tokutei"><span class="far fa-building fa-fw" aria-hidden="true"></span>特定商取引に基づく表記</a></li>
			<li><a href="store.php"><span class="fas fa-shopping-basket fa-fw" aria-hidden="true"></span>公式ストア</a></li>
			<li><a href="lure.php" data-action="open_modal_search"><span class="fas fa-search fa-fw" aria-hidden="true"></span>ルアー検索</a></li>
			<li><a href="tform.php"><span class="fas fa-envelope fa-fw" aria-hidden="true"></span>お問い合わせ</a></li>
			
		</ul>

		<address class="text-center">copyright &copy; 2018 <a href="https://lurebank.com">ルアーバンク</a> all rights reserved.</address>


		
		
		
		
		<input type="hidden" name="item_total_token" value="2a16160dd136f09c7881fd33dcc31ac96146cc08b4b06ad2dc7fc4890285154b">
		


		
	</footer><!-- .container end -->
		

	<!-- スライドメニュー -->
	<nav id="slide_menu" class="slide_nav">

		<ul class="slide_contnet">
	
						
				<li><h2>ユーザーメニュー</h2></li>
				<li><a href="signin.php" class="login_href" rel="nofollow"><span class="fas fa-sign-in-alt" aria-hidden="true"></span>ユーザーログイン</a></li>
				<li><a href="register.php"><span class="fas fa-user fa-fw" aria-hidden="true"></span>新規ユーザー登録 <span class="label label-danger">無料</span></a></li>
				<li><a href="favorite_list.php" rel="nofollow"><span class="fas fa-star fa-fw" aria-hidden="true"></span>お気に入り</a></li>
				
			

			<li><h2><span class="fa fa-search" aria-hidden="true"></span>各種検索エンジン</h2></li>

			<li class="search_banner_sugoi search_banner_sugoi_lure">
				<a href="lure.php">
					<div class="name_label">スゴいルアー検索</div>
				</a>
			</li>
			<li class="search_banner_sugoi search_banner_sugoi_reel">
				<a href="reel.php">
					<div class="name_label">スゴいリール検索</div>
				</a>
			</li>
			<li class="search_banner_sugoi search_banner_sugoi_line">
				<a href="line.php">
					<div class="name_label">スゴいライン検索</div>
				</a>
			</li>
			<li class="search_banner_sugoi search_banner_sugoi_rod">
				<a href="rod.php">
					<div class="name_label">スゴいロッド検索</div>
				</a>
			</li>
			<li class="search_banner_sugoi search_banner_sugoi_hook">
				<a href="hook.php">
					<div class="name_label">スゴいフック検索</div>
				</a>
			</li>
			<li class="search_banner_sugoi search_banner_sugoi_jan">
				<a href="jan.php">
					<div class="name_label">商品コード釣具検索</div>
				</a>
			</li>
				


		
			<li><h2>ピックアップ</h2></li>
			<li><a href="line_pe_lineup.php"><span class="lbf lbf-line lbf-1x gn_icon icon" aria-hidden="true"></span>PEライン(号数✕長さ)一覧表</a></li>
			<li><a href="item_list.php?tag=slow_jigging"><span class="lbf lbf-line lbf-1x gn_icon icon" aria-hidden="true"></span>スロージギング用ジグ一覧</a></li>

			<li><h2>便利ツール</h2></li>
			<li class="convenient_tool"><a href="line_cal.php"><span class="lbf lbf-spinning lbf-1x gn_icon icon" aria-hidden="true"></span>リールの糸巻き量計算ツール</a></li>
			<li class="convenient_tool"><a href="line_cal_base.php"><span class="lbf lbf-spinning lbf-1x gn_icon icon" aria-hidden="true"></span>リールの下巻き量計算ツール</a></li>

			<li><h2>公式ストア</h2></li>
			<li class="list_store"><a href="store.php"><span class="fas fa-shopping-basket fa-fw icon" aria-hidden="true"></span>ルアーバンク×ジギング魂 公式ストア</a></li>
			
			<li><h2>裏メニュー</h2></li>
			<li><a href="archive_list.php?category=qanda"><span class="far fa-question-circle fa-fw icon" aria-hidden="true"></span>ルアーフィッシングQ&A</a></li>
			<li><a href="goods.php"><span class="fas fa-search fa-fw icon" aria-hidden="true"></span>ルアーフィッシング関連グッズ</a></li>
			<li><a href="present_list.php"><span class="fas fa-gift fa-fw icon" aria-hidden="true"></span>プレゼントコーナー</a></li>
			<li><a href="archive_list.php?category=notice"><span class="fas fa-bell fa-fw icon" aria-hidden="true"></span>お知らせ</a></li>
			<li><a href="archive_list.php?category=content"><span class="fas fa-book fa-fw icon" aria-hidden="true"></span>コンテンツ</a></li>
			<li><a href="assist_hook_list.php"><span class="fas fa-book fa-fw icon" aria-hidden="true"></span>アシストフックの作り方</a></li>

			 

		</ul>

	</nav>
	<!-- スライドメニュー -->
	
</div><!-- #wrap end -->

<div class="loading_ajax">
		
	<div class="loading_wrapper">
				
		<div class="loading_icon">
			<span class="fas fa-spinner fa-spin fa-5x fa-fw"></span>
			<span class="work_name"></dspan>
		</div>
	
	</div>
	
</div>

<section class="innerbox innerbox_modal modal modal_boot_box" data-modal-id="modal_screener" modal-screener-action="search">

	<div class="modal_header"><span class="fas fa-search fa-fw" aria-hidden="true"></span>スゴいキーワード検索<span class="bootbox-close-button close">✕</span></div>

	<div class="modal_body">
		
		<div class="modal_screener_keyword">
		
			<form method="get" action="" class="fform" id="screener_keyword">

							<div class="block block_screener block_screener_keyword">

								<div class="body_screener">

									<div class="row">

										<div class="col col-xs-12 col-sm-12 col_keyword">

											<div class="col col-xs-12">
											
												<h6>キーワード</h6>
												
											</div>

											<div class="col col-xs-12">

												<input type="text" name="search_keyword" class="textbox" placeholder="メーカー名や釣具名の一部を入力">

											</div>

										</div>
										
									</div><!-- .row end -->


									<div class="row">
			
										<div class="col col-xs-12 col-sm-12">
											
											<div class="col col-xs-12">
										
												<h6>カテゴリー</h6>

											</div>
			
											<div class="col col-xs-12 col-sm-12">

												<div class="btn-group" data-toggle="buttons">
												
													<label class="btn btn-primary active">
														<input type="radio" name="category" value="lure" checked="checked">
														<span class="lbf lbf-lure1 lbf-2x gn_icon" aria-hidden="true"></span>
														<span class="icon_text">ルアー</span>
													</label>

													<label class="btn btn-primary">
														<input type="radio" name="category" value="reel">
														<span class="lbf lbf-spinning lbf-1x gn_icon" aria-hidden="true"></span>
														<span class="icon_text">リール</span>
													</label>

													<label class="btn btn-primary">
														<input type="radio" name="category" value="line">
														<span class="lbf lbf-line lbf-1x gn_icon" aria-hidden="true"></span>
														<span class="icon_text">ライン</span>
													</label>

													<label class="btn btn-primary">
														<input type="radio" name="category" value="rod">
														<span class="lbf lbf-bait-rod lbf-1x gn_icon" aria-hidden="true"></span>
														<span class="icon_text">ロッド</span>
													</label>

													<label class="btn btn-primary">
														<input type="radio" name="category" value="hook">
														<span class="lbf lbf-hook_3 lbf-1x gn_icon" aria-hidden="true"></span>
														<span class="icon_text">フック</span>
													</label>

													<label class="btn btn-primary">
														<input type="radio" name="category" value="etc">
														<span class="lbf lbf-etc lbf-2x"></span>
														<span class="icon_text">その他</span>
													</label>

												</div>

											</div>
											
										</div>
										
									</div><!-- .row end -->

								</div>
	
							</div>



							<div class="wrapper wrapper_buttons">
								
								<div class="row">
								
									<div class="col col-xs-4 col-sm-2 col-sm-offset-3">
									
										<button type="button" class="btn btn-warning btn-block" data-action="reset_screener_keyword"></span>リセット</button>
										
									</div>
									
									<div class="col col-xs-8 col-sm-4">
									
										<button type="button" class="btn btn-success btn-block" data-action="submit_screener_keyword"><span class="fa fa-search fa-fw" aria-hidden="true"></span>検索</button>
										
									</div>
								
								</div>
							
							</div>

						</form>

		</div>

		
		<section class="innerbox innerbox_search_banner">

			<div class="block block_search block_search_banner block_search_banner_sugoi">

				<h3>「各種検索エンジン」はこちら</h3>
										
				<ul>
					
					<li>
						<a href="lure.php">
							<div class="name_label">
								スゴい<br class="visible-xs">ルアー検索
							</div>
						</a>
					</li>

					<li>
						<a href="reel.php">
							<div class="name_label">
								スゴい<br class="visible-xs">リール検索
							</div>
						</a>
					</li>

					<li>
						<a href="line.php">
							<div class="name_label">
								スゴい<br class="visible-xs">ライン検索
							</div>
						</a>
					</li>

					<li>
						<a href="rod.php">
							<div class="name_label">
								スゴい<br class="visible-xs">ロッド検索
							</div>
						</a>
					</li>

					<li>
						<a href="hook.php">
							<div class="name_label">
								スゴい<br class="visible-xs">フック検索
							</div>
						</a>
					</li>

					<li>
						<a href="jan.php">
							<div class="name_label">
								商品コード検索
							</div>
						</a>
					</li>
		
				</ul><!-- .wrapper end -->
				
			</div><!-- .block end -->
			
		</section>

						
	</div>

</section>


</body>
</html>
