<h2><%= link_to 'lure', '/lures/item'%></h2><br>
<!--
<a><%= link_to @posts[1]['lure'], '/lures/pen' %></a><br>

<div class="side">
   <% @posts.each do |post| %>
   <a><%= link_to post.lure,'/lures/item'%></a><br>
   <% end %>
</div>
-->