<div class="wrapper">
  <div class="side">
    <% @posts.each do |post| %>
    <a><%=  post.lure %></a><br>
    <% end %>
  </div>
    <div class="item">
    <% @items.each do |item| %>
    <a><%=  item.item %></a><br>
    <% end %>
  </div>