 <div class="wrapper">
  <div class="side">
    <% @posts.each do |post| %>
    <a><%=  post.lure %></a><br>
    <% end %>
  </div>
  <div class="pen">
    <% @pens.each do |pen| %>
    <a><%=  pen.pen %></a><br>
    <% end %>
  </div>
</div>