 <div class="wrapper">
 <div class="side">
  <a><%= link_to "lure", '/lures/item'%></a><br>
  <br>
   <% @posts.each do |post| %>
   <a><%= post.lure %></a><br>
   <% end %>
</div>
  <div class="item">
    <% @items.each do |item| %>
    <a><%=  item.item %></a><br>
    <% end %>
  </div>
  <div class="pen">
    <% @pens.each do |pen| %>
    <a><%=  pen.pen %></a><br>
    <% end %>
  </div>
</div>